section#events {
    position: relative;
    background-color: black;

    @media (min-width: $screen-sm-max) {
        background-image: url('../img/bldg_front.png');
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: cover;
    }

    .events_bg_overlay {
        display: none;

        @media (min-width: $screen-sm-max) {
            display: block;
            background-color: black;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: .9;
        }
    }

    .events_title_wrap {
        padding: 0 3%;

        @media (min-width: $screen-sm-max) {
            padding: 0;
            position: relative;
        }

        .events_title {
            color: white;
            text-transform: uppercase;
            font-weight: bold;

            @media (min-width: $screen-sm-max) {
                max-width: $screen-lg;
                margin: 0 auto;
            }
        }
    }

    .events_lg_table {
        padding: 0 3%;
        width: 100%;

        @media (min-width: $screen-sm-max) {
            max-width: $screen-lg;
            margin: 0 auto;
            display: table;
            position: relative;
            padding: 0;
        }

        .events_table_group {
            @media (min-width: $screen-sm-max) {
                display: table-cell;
                width: 50%;
            }

            .events_type {
                background-color: #FC0;
                text-transform: uppercase;
                color: #333;
                padding-left: 5px;
                padding-right: 5px;
                line-height: 1.65;
            }

            .event_single_wrap {

                .event_datetime {
                    color: #FC0;
                    text-transform: uppercase;
                }

                .event_title {
                    font-weight: bold;
                    color: white;
                }

                .event_content, .event_content p, .event_content a {
                    color: white;
                }
            }
        }
    }
}
