section#opportunities {
    position: relative;
    width: 100%;
    text-align: left;
    word-break: break-word;
    padding: 0;

    .opportunities_title_wrap {
        margin: 20px 0 10px 10px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;

        .opportunities_title {
            font-size: 17px;
            font-weight: bold;
        }

        a {
            color: #aaa;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .opportunities_lg_table {
        @media (min-width: $screen-sm-max) {
            display: table;
            table-layout: fixed;
            max-width: $screen-lg;
            margin: 0 auto;
            width: 100%;
        }

        .opportunity_single_wrap {
            @media (min-width: $screen-sm-max) {
                display: table-cell;
            }

            &:hover {
                background-color: #eee;
                transition: background-color .2s;
            }

            &:active {
                background-color: #eee;
            }

            a.opportunity_single {
                display: table;
                width: 100%;

                &:hover {
                    text-decoration: none;
                    border-bottom: none;
                }

                @media (min-width: $screen-sm-max) {
                    position: relative;
                }

                .opportunity_content_wrap {
                    padding: 3%;

                    @media (min-width: $screen-sm-max) {
                        padding: 10px;
                    }

                    .opportunity_title {
                        color: #000;
                    }

                    .opportunity_type {
                        color: #FC0;
                    }
                }

                .opportunity_icon_wrap {
                    width: 12%;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    background-color: #e5e5e5;

                    @media (min-width: $screen-sm-max) {
                        display: none;
                    }

                    .opportunity_icon {
                        font-size: 1.5em;
                        color: #aaa;
                    }
                }
            }

            :after {
                @media (min-width: $screen-sm-max) {
                    padding-bottom: 100%;
                }
            }
        }
    }
}
