section#opa_header {
    padding: 20px 3%;

    @media (min-width: $screen-sm-max) {
        padding: 20px 10px 10px 10px;
    }

    #opa_header_inner_wrap {
        @media (min-width: $screen-sm-max) {
            max-width: 1200px;
            margin: 0 auto;
        }

        #opa_header_left {
            @media (min-width: $screen-sm-max) {
                float: left;
                width: 30%;
            }

            .opa_header_image {
                width: 100%;
            }
        }

        #opa_header_right {
            @media (min-width: $screen-sm-max) {
                float: right;
                width: 70%;
                padding-left: 30px;
            }

            .opa_header_type {
                margin: 10px 0 10px 0;
                background-color: #FC0;
                text-transform: uppercase;
                color: white;
                font-size: 14pt;
                padding: 10px;
                display: inline-block;
                width: 100%;

                @media (min-width: $screen-sm-max) {
                    margin: auto;
                }
            }

            .opa_header_title {
                font-weight: bold;
                text-transform: uppercase;
                margin: 20px auto 15px auto;
            }
        }
    }
}

section#scholarship_spotlight {
    background-color: #dbd9da;
    padding: 20px 3%;

    #scholarship_spotlight_inner_wrap {
        @media (min-width: $screen-sm-max) {
            max-width: 1200px;
            margin: 0 auto;
        }

        #scholarship_spotlight_left {
            @media (min-width: $screen-sm-max) {
                float: left;
                width: 30%;
            }

            .scholarship_spotlight_image_wrap {
                .scholarship_spotlight_image {
                    width: 100%;
                }
            }

            .scholarship_spotlight_cta {
                margin: 10px 0 10px 0;
                background-color: #FC0;
                text-transform: uppercase;
                color: black;
                font-size: 14pt;
                padding: 10px;
                display: inline-block;
                width: 100%;
            }
        }

        #scholarship_spotlight_right {
            @media (min-width: $screen-sm-max) {
                float: right;
                width: 70%;
                padding-left: 30px;
            }

            .scholarship_spotlight_type {
                margin: 10px 0 10px 0;
                background-color: #3d3b3c;
                text-transform: uppercase;
                color: white;
                font-size: 14pt;
                padding: 10px;
                display: inline-block;
                width: 100%;

                @media (min-width: $screen-sm-max) {
                    margin: auto;
                }
            }

            .scholarship_spotlight_title {
                font-weight: bold;
                text-transform: uppercase;
                margin: 20px auto 15px auto;
            }
        }
    }
}
