section#spotlights {
    padding: 0 8%;

    @media (min-width: $screen-sm-max) {
        padding: 10px;
    }

    #spotlights_inner_wrap {
        @media (min-width: $screen-sm-max) {
            max-width: 1200px;
            margin: 0 auto;
        }

        #spotlights_left {
            @media (min-width: $screen-sm-max) {
                float: left;
                width: 70%;
            }

            .spotlights_title_wrap {
                margin: 20px 0 10px 0;
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                .spotlights_title {
                    font-size:17px;
                    font-size: 3em;
                    font-weight: bold;

                }

                a {
                    color: #aaa;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }

            .spotlights_lg_table {

                .spotlight_single_wrap {
                    padding: 20px 0 10px 0;
                &:hover{
                    text-decoration:none;
                    border: none;
                    background-color: #eee;
                    transition: background-color .2s;
                }

                    .spotlight_single {
                        display: table;
                        width: 100%;

                        @media (min-width: $screen-sm-max) {
                            padding: 5px 0;
                        }

                        .spotlight_image_wrap {
                            display: table-cell;
                            width: 15%;
                            vertical-align: top;

                            .spotlight_image {
                                width: 100%;
                            }
                        }

                        .spotlight_content_wrap {
                            display: table-cell;
                            padding-left: 3%;
                            color: #333;

                            .spotlight_type {
                                background-color: #FC0;
                                text-transform: uppercase;
                                color: #333;
                                padding-left: 5px;
                                padding-right: 5px;
                                line-height: 1.65;
                            }

                            .spotlight_title {
                                font-weight: bold;
                                padding: 5px 0;
                                color: #333;
                            }
                        }
                    }
                }
            }
        }

        #spotlights_right {
            @media (min-width: $screen-sm-max) {
                float: right;
                width: 30%;
            }

            .spotlight_person {
                .spotlight_content_wrap {
                            color: #333;

                            .spotlight_title {
                                font-weight: bold;
                                padding: 5px 0;
                                color: #333;
                            }
                        }
            }
        }
    }
}
