section#spotlights {
    padding: 0 8%;

    .spotlights_title_wrap {
        @media (min-width: $screen-sm-max) {
            max-width: 1200px;
            margin: 0 auto;
        }

        .spotlights_title {
            font-size: 3em;
            font-weight: bold;
        }

        a {
            color: #aaa;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .spotlights_lg_table {
        @media (min-width: $screen-sm-max) {
            max-width: 1200px;
            margin: 0 auto;
        }

        .spotlight_single {
            display: table;
            width: 100%;

            @media (min-width: $screen-sm-max) {
                padding: 5px;
            }

            .spotlight_image_wrap {
                display: table-cell;
                width: 15%;
                vertical-align: top;

                .spotlight_image {
                    width: 100%;
                }
            }

            .spotlight_content_wrap {
                display: table-cell;
                padding-left: 3%;
                color: #333;

                .spotlight_type {
                    background-color: #FC0;
                    text-transform: uppercase;
                    color: #333;
                }

                .spotlight_title {
                    font-weight: bold;
                    padding: 5px 0;
                    color: #333;
                }
            }
        }
    }
}
